body {
    background-image: url('/images/bg-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh; 
    margin: 0; 
    display: flex;
    flex-direction: column; 
}

.header-text h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes-section {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 50px;
    width: 28.438em;
    border: 2px solid rgb(107, 199, 211);
    padding: 9px;
    border-radius: 15px 50px 15px;
  
}

blockquote p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
}

blockquote footer {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

#getQuoteButton {
    margin: 20px auto 50px;
    width: 28.438em;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#getQuoteButton:hover {
    background-color: #0056b3;
}

footer {
    font-family: "Jost", sans-serif;
    color: white;
    text-align: center; 
    margin-top: auto; 
    padding: 2px;
}

footer a {
    color: rgb(107, 199, 211);
    text-decoration: none;
}

footer a:hover {
    color: #007bff;
}

@media only screen and (max-width: 480px) {
    .quotes-section {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px auto 50px;
        width: 19em;
        border: 2px solid rgb(107, 199, 211);
        padding: 9px;
        border-radius: 15px 50px 15px;
      
    }

    #getQuoteButton {
        margin: 20px auto 50px;
        width: 19em;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    #getQuoteButton:hover {
        background-color: #0056b3;
    }
}
